<!DOCTYPE html>
<html lang="en" class="hasJS" style="overflow:hidden;">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{% block title %}Technex 2012{% endblock %}</title>
        <meta name="description" content="Technex - The annual techno-management festival of Institute of Technology, Banaras Hindu University" />
        <meta name="author" content="Kushagra Sinha (http://j4nu5.com), Srijan Mishra, Pranjal Mittal (http://pranjalmittal.co.cc), Azhar Hussain, Kaushal Singh (http://kaushalsingh.co.cc)" />
        <meta name="keywords" content="technology, technical festival, technex, it-bhu, iit-varanasi, iit" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
        {% block externals %}{% endblock %}

        <style type="text/css">
            .errorlist, .error {
                color : red;
                }
            input {
                display: block;
                margin-top: 0.1em;
                margin-bottom: 0.1em;
            }
            form>ul>li {
                margin-top: 0.1em;
                padding-bottom: 0.1em;
                margin-bottom: 0.1em;
                border-bottom: 0px dotted black
            }

        </style>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-26873860-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body style="background: #12091a;background-image:url('{{ STATIC_URL }}pics/background.jpg');background-repeat: no-repeat";>
        {% block content %}
        {% endblock %}
    </body>
</html>
