<div class="inner">	
    <div class="demo">
        <div id="tabs">                                
            <ul>
                <li><a href="#tabs-1">TECHNICAL EVENTS</a></li>
                <li><a href="#tabs-2">MANAGEMENT EVENTS</a></li>
            </ul>
            <div id="tabs-1" class="parent_event">
                <ul id="tech_event" style="position:relative;left:20%;top:-20px">
                    <li title="ROBOTRIX" id="spr_rotrix" onClick="robotrix();"></li>
                    <li title="MODEX" id="spr_modex" onClick="ajaxrequest_event('Modex');"></li>
                    <li title="XTREME ENGINEERING" id="spr_extreme" onClick="xtrmengg();"></li>
                    <li title="BALVIGYAN" id="spr_balvigyan" onClick="ajaxrequest_event('Balvigyan');"></li>
                </ul>
                <div style="font-size:0.9em;" id="child_con">
                    Following are the main categories of technical events under Technex 2012:
                    <ul style="margin-top:10px;">
                        <li onClick="robotrix();" style="font-size:1em;"><span style="text-decoration:underline;">Robotrix:</span> Robotix tests the ability of students to automate processes of varying degree of complexity</li>
                        <li onClick="ajaxrequest_event('Modex');" style="font-size:1em;"><span style="text-decoration:underline;">Modex:</span> The model making competition</li>
                        <li onClick="xtrmengg();" style="font-size:1em;"><span style="text-decoration:underline;">Xtreme Engineering:</span> Reaching the pinnacles of Engineering</li>
                        <li onClick="ajaxrequest_event('Balvigyan');" style="font-size:1em;"><span style="text-decoration:underline;">Balvigyaan:</span> Competitions for school students</li>
                    </ul>
                </div>
            </div>
            <div id="tabs-2">
                <ul id="mang_event"style="position:relative;left:20%;top:-20px">
                    <li title="MANTHAN" id="spr_manthan" onClick="ajaxrequest_event('Manthan');"></li>
                    <li title="BRANDAID" id="spr_brandaid" onClick="ajaxrequest_event('Brandaid');"></li>
                    <li title="VENTURA" id="spr_ventura" onClick="ajaxrequest_event('Ventura');"></li>
                    <li title="BIZWIZ" id="spr_bizwiz" onClick="ajaxrequest_event('Biz-Wiz');"></li>
                </ul>
                <div style="font-size:0.9em;" id="child_con">
                    Following are the main categories of management events under Technex 2012:
                    <ul style="margin-top:10px;">
                        <li onClick="ajaxrequest_event('Manthan');" style="font-size:1em;"><span style="text-decoration:underline;">Manthan:</span> Case study competition</li>
                        <li onClick="ajaxrequest_event('Brandaid');" style="font-size:1em;"><span style="text-decoration:underline;">Brand Aid:</span> Marketing Event</li>
                        <li onClick="ajaxrequest_event('Ventura');" style="font-size:1em;"><span style="text-decoration:underline;">Ventura:</span> B-Plan Competition with a twist</li>
                        <li onClick="ajaxrequest_event('Biz-Wiz');" style="font-size:1em;"><span style="text-decoration:underline;">Biz-Wiz:</span> Business Quiz</li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- End demo -->
						
</div>

<script type="text/javascript">

    $(function() {
    $( "div#tabs" ).tabs();
    });

</script>
