{% extends 'base.html' %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block externals %}
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/technex_css.css" />
	
	<script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.14.custom.min.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/timer.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/csrfsolver.js" type="text/javascript"></script>

	<script type="text/javascript">
       $(document).ready(function(){
            $(function() {
                $( "div#tabs" ).tabs();
            });
            {% if registration_successful %}
                panelswitch(3,50);
            {% endif %}
            $(window).keyup(function (event){
            	if (event.keyCode == 37){
            		panelswitch(currpanelind() - 1 , 1);
            	} else if (event.keyCode == 39 && currpanelind() < 6 ){
            	 	panelswitch(currpanelind() + 1 , 1);
            	}
            });
        });
        // Function to load the events panel via AJAX.    
	    function geteventinfo(){
            $("div#c2").html('Loading.... ');
            panelswitch(1,50);
	        $.ajax({
                url: "/eventspanel/",
                dataType: "html",   
                async: true,
                success: function(response){
                    $("div#c2").html(response);
                }
            });
        };
    </script>

    <script type="text/javascript">

        function ajaxrequest_event(eventname){
            $.ajax({
                url: "/events/",
                global: false,
                type: "POST",
                data: {event_name : eventname , csrfmiddlewaretoken : getCookie('csrftoken')},
                dataType: "html",
                async: true,
                success: function(response2){
                    global: event_obj = $.parseJSON(response2);
	                $.ajax({
                        url: "/eventinfo/",
                        dataType: "html",   
                        async: true,
                        success: function(response3){
                            $("div#c2").html(response3);
                        }
                    });
                }
            });
		}
		
		function robotrix(){
			var str = '<div class="inner"><div class="demo"><div class="robotrix" id="tabs"><ul><li><a href="#tabs-1">ROBOTRIX</a></li></ul><div id="tabs-1"><ul id="robotics" style="position:relative;left:20%;top:-20px"><li title="ROBOWARS" id="spr_robowars" onClick="ajaxrequest_event(\'Robowars\');"></li><li title="I-ROBOT" id="spr_irobot" onClick="ajaxrequest_event(\'I-Robot\');"></li><li title="OPTIKA" id="spr_optika" onClick="ajaxrequest_event(\'Optika\');"></li><li title="DASH N TROUNCE" id="spr_dnt" onClick="ajaxrequest_event(\'Dash n Trounce\');"></li></ul><div style="font-size:0.9em;" id="child_con">';
			str += 'Following are the categories of events under Robotrix:<ul style="margin-top:10px;"><li onClick="ajaxrequest_event(\'Robowars\');" style="font-size:1em;"><span style="text-decoration:underline;">Robowars:</span> The ultimate battle of robots</li><li onClick="ajaxrequest_event(\'I-Robot\');" style="font-size:1em;"><span style="text-decoration:underline;">I-Robot:</span> Line follower bot competition</li><li onClick="ajaxrequest_event(\'Optika\');" style="font-size:1em;"><span style="text-decoration:underline;">Optika:</span> Image processing bot competition</li><li onClick="ajaxrequest_event(\'Dash n Trounce\');" style="font-size:1em;"><span style="text-decoration:underline;">Dash n Trounce</span> Manual robotics competition</li></ul>';
			str += '</div></div></div></div><!-- End demo --></div>';
			$('#c2').html(str);
			$('.robotrix').tabs();
		}
		
		function xtrmengg(){
			var str = '<div class="inner"><div class="demo"><div class="xtrmengg" id="tabs"><ul><li><a href="#tabs-1">XTREME ENGINEERING</a></li></ul><div id="tabs-1"><ul id="extreme_engg" style="position:relative;left:20%;top:-20px"><li title="GOLDBERG\'S ALLEY" id="spr_gldbrg" onClick="ajaxrequest_event(\'Goldbergs Alley\');"></li><!--<li title="I-ROBOT" id="spr_irobot" onClick="ajaxrequest_event(\'I-Robot\');"></li><li title="OPTIKA" id="spr_optika" onClick="ajaxrequest_event(\'Optika\');"></li><li title="DASH N TROUNCE" id="spr_dnt" onClick="ajaxrequest_event(\'Dash n Trounce\');"></li>--></ul><div style="font-size:0.9em;" id="child_con">';
			str += 'Following are the categories of events under Xtreme Engineering:<ul style="margin-top:10px;"><li onClick="ajaxrequest_event(\'Goldbergs Alley\');" style="font-size:1em;"><span style="text-decoration:underline;">Goldbergs Alley</span></li></ul>';
			str += '</div></div></div></div><!-- End demo --></div>';
			$('#c2').html(str);
			$('.xtrmengg').tabs();
		}

    </script>

    <script type="text/javascript">
        function ajaxrequest_mypage(){
            $.ajax({
                url: "/mypage/",
                type: "POST",
                data: {csrfmiddlewaretoken : getCookie('csrftoken')},
                dataType: "html",
                async: true,
                success: function(response4){
                    {% if user.is_authenticated %}
                        global: mypage_obj = $.parseJSON(response4);
                        event_notif_objects = mypage_obj.event_notifications;
                        $("div#c4 div#tabs-2").html('');
                        for (i=0 ; event_notif_objects[i] != undefined ; i++) {
                            $("div#c4 div#tabs-2").append(event_notif_objects[i].title + " : ");                    
                            $("div#c4 div#tabs-2").append(event_notif_objects[i].body);
                            $("div#c4 div#tabs-2").append('<BR></BR>');
                        }
                        panelswitch(3,50);
                    {% else %}
                        document.location = "/accounts/login";
                    {% endif %}                              
                }
            });
	    };
    </script>

{% endblock %}

{% block content %}

    <img src="{{ STATIC_URL }}pics/sponsors/header.png" style="height:65px;" />
    
    {% block subcontent_login %} 
    {% endblock %}

    {% block subcontent_panels %}
    {% endblock %}

	    <!--script src="http://www.google.com/jsapi" type="text/javascript"></script>
	    <!--script type="text/javascript">google.load("jquery", "1.4.2");</script-->
        <!--script src="js/easing.js" type="text/javascript"></script>-->
        <script type="text/javascript" src="{{ STATIC_URL }}js/easing.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/iphone.js"></script>
            <script type="text/javascript">
                {% if error %}
                    panelswitch(4,50)
                {% endif %}
            </script>

    {% block subcontent_dock %}
	    <div id="out">
            <div style="float:left;margin-top:40px">
            <img src="{{ STATIC_URL }}pics/but1.png" class="back" style="height:45px;width:65px;" title="Back" onClick="panelswitch(currpanelind() - 1 , 1);"/>&nbsp;
            <img src="{{ STATIC_URL }}pics/but2.png" class="home" style="height:45px;width:65px;" onClick="panelswitch(0,1);"title="Home"/>
            </div>
            <!--TIMER-->
            <div id="timer" style="font:14pt Arial;color:#63718c;position:absolute;margin-top:55px;margin-left:100%;height:55px;width:150px;">
            </div>

            <div id="in">
                <ul id="navlist">
                    <li title="EVENTS" id="event" onClick="geteventinfo();"></li>
                    <li title="WORKSHOPS" id="guest" onClick="panelswitch(2,50)"></li>
                    <li title="MYPAGE" id="mypage" onClick="ajaxrequest_mypage();"></li>
                    <li title="REGISTER ME @ TECHNEX 2012" id="reg" onClick="panelswitch(4,50)"></li>
                    <li title="CONTACT US" id="con" onclick="panelswitch(5,50)"></li>
                    <li title="SPONSORS" id="spon" onClick="panelswitch(6,50)"></li>
                </ul>
            </div>
        </div>
    {% endblock %}

{% endblock %}
