{% extends "extended.html" %} 

{% block subcontent_panels %}   

    {% if user.is_authenticated %}
	<p style="float:left;right:150px;top:30px;position:absolute;color:#0078a3;"><i>Welcome, {{user.username}}</i></p>
	<a href="/accounts/logout/"><input type="button" value="Logout"style="color:#fff;float:left;right:20px;top:20px;position:absolute;padding:2px 20px;border-color:#0078a3;border-radius:5px;background-color:#0078a3;"/></a>
    {% else %}
    <a href="/accounts/login/"><input type="button" value="Login"style="color:#fff;float:left;right:20px;top:20px;position:absolute;padding:2px 20px;border-color:#0078a3;border-radius:5px;background-color:#0078a3;"/></a>
    {% endif %}
   
    <div id="wrapper" style="margin:0px;">
        <div id="fake">
            <div id="c1" class="content-box">  <!-- cX indicates the Xth panel -->
                <div class="inner">
				    <div class="demo">

                        <div id="tabs">
                            <ul>
                                <li><a href="#tabs-1">KNOW TECHNEX</a></li>      
                            </ul>
                            <div id="tabs-1">
                                <p style="line-height: 2em;font-size: 0.9em;">Technex is the annual technical festival of Institute of Technology, Banaras Hindu 
                                University, Varanasi, India. The festival hosts a variety of events targeting the 
                                improvement in technical and innovative thinking of the students. Various competitions
                                for students to test out their wits, lectures which nourish the young minds with knowledge 
                                and experience of intellectual and experienced guests, and workshops 
                                to learn and improve skills are part of this prestigious technical festival of IT-BHU.<p>
                            </div>                              
                        </div>
                    </div><!-- End demo -->		
                </div>
            </div>
                
            <div id="c2" class="content-box">
                <!-- div#c2 Content Loaded through AJAX everytime on click on Events Icon -->
                <div class="inner">	
                    <div class="demo">
                        <div id="tabs">                                
                            <ul>
                                <li><a href="#tabs-1">TECHNICAL EVENTS</a></li>
                                <li><a href="#tabs-2">MANAGEMENT EVENTS</a></li>
                                <li><a href="#tabs-3">MISCELLANEOUS EVENTS</a></li>
                            </ul>
                            <div id="tabs-1" class="parent_event">
                                <ul id="tech_event" style="position:relative;left:20%;top:-20px">
                                    <li title="ROBOTRIX" id="spr_rotrix" onClick="robotrix();"></li>
                                    <li title="MODEX" id="spr_modex" onClick="ajaxrequest_event('Modex');"></li>
                                    <li title="XTREME ENGINEERING" id="spr_extreme" onClick="xtrmengg();"></li>
                                    <li title="BALVIGYAN" id="spr_balvigyan" onClick="ajaxrequest_event('Balvigyan');"></li>
                                </ul>
                                <div style="font-size:0.9em;" id="child_con">
                                    Following are the main categories of technical events under Technex 2012:
                                    <ul style="margin-top:10px;">
                                        <li onClick="robotrix();" style="font-size:1em;"><span style="text-decoration:underline;">Robotrix:</span> Robotix tests the ability of students to automate processes of varying degree of complexity</li>
                                        <li onClick="ajaxrequest_event('Modex');" style="font-size:1em;"><span style="text-decoration:underline;">Modex:</span> The model making competition</li>
                                        <li onClick="xtrmengg();" style="font-size:1em;"><span style="text-decoration:underline;">Xtreme Engineering:</span> Reaching the pinnacles of Engineering</li>
                                        <li onClick="ajaxrequest_event('Balvigyan');" style="font-size:1em;"><span style="text-decoration:underline;">Balvigyaan:</span> Competitions for school students</li>
                                    </ul>
                                </div>
                            </div>
                            <div id="tabs-2">
                                <ul id="mang_event"style="position:relative;left:20%;top:-20px">
                                    <li title="MANTHAN" id="spr_manthan" onClick="ajaxrequest_event('Manthan');"></li>
                                    <li title="BRANDAID" id="spr_brandaid" onClick="ajaxrequest_event('Brandaid');"></li>
                                    <li title="VENTURA" id="spr_ventura" onClick="ajaxrequest_event('Ventura');"></li>
                                    <li title="BIZWIZ" id="spr_bizwiz" onClick="ajaxrequest_event('Biz-Wiz');"></li>
                                </ul>
                                <div style="font-size:0.9em;" id="child_con">
                                    Following are the main categories of management events under Technex 2012:
                                    <ul style="margin-top:10px;">
                                        <li onClick="ajaxrequest_event('Manthan');" style="font-size:1em;"><span style="text-decoration:underline;">Manthan:</span> Case Study</li>
                                        <li onClick="ajaxrequest_event('Brandaid');" style="font-size:1em;"><span style="text-decoration:underline;">Brand Aid:</span> Marketing Strategy</li>
                                        <li onClick="ajaxrequest_event('Ventura');" style="font-size:1em;"><span style="text-decoration:underline;">Ventura:</span> B-Plan</li>
                                        <li onClick="ajaxrequest_event('Biz-Wiz');" style="font-size:1em;"><span style="text-decoration:underline;">Biz-Wiz:</span> Business Quiz</li>
                                        <li onClick="ajaxrequest_event('Innoventure');" style="font-size:1em;"><span style="text-decoration:underline;">Innoventure</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div id="tabs-3">
                                <div style="font-size:0.9em;" id="child_con">
                                    Following are the miscellaneous events under Technex 2012:
                                    <ul style="margin-top:10px;">
                                        <li onClick="ajaxrequest_event('Directors Cut');" style="font-size:1em;"><span style="text-decoration:underline;">Director's Cut:</span> Ad making competition</li>
                                        <li style="font-size:1em;"><span style="text-decoration:underline;"><a href="http://technex.in/clutch" target="_blank">Clutch:</a></span> LAN Gaming Competition</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- End demo -->						
                </div>
            </div>

		    <div id="c3" class="content-box">
			    <div class="inner">
                    <div class="demo">
                        <div id="tabs">
                            <ul>
                                <li><a href="#tabs-1">GUEST LECTURES </a></li>
                                <li><a href="#tabs-2">WORKSHOPS</a></li>
                            </ul>
                            <div id="tabs-1">
                                Details to be uploaded very soon. Keep an eye out for this space.
                            </div>
                            <div id="tabs-2">
                                <div style="overflow:hidden;">
                                    <div style="overflow:auto;height:400px;width:105%;">
                                        <div style="text-align: center;"><img onclick="window.open('http://www.aerotrix.com/')" onmousedown="return false;" src="{{ STATIC_URL }}pics/aerotrix.jpg"></div>
                                        <p>The knack to flying is learning how to throw yourself at the ground and miss”
                                        <br>- Douglas Adams</p>
                                        <p>
                                        At the dawn of the twentieth century, having explored and conquered all land, man turned his eyes skywards. For much of history he has been trying to conquer this seemingly unbeatable foe. The skies continued to elude him until finally, the Wright brothers finally conquered the skies one windy morning in the winter of 1903. Since then the aircraft industry has exploded, and aero planes have captured the imagination of the human race.</p>
                                        <p>
                                        This workshop by AerotriX gives the participants an opportunity to understand the theory behind the functioning of aircrafts and aircraft design. It makes the participants innovate by coming up with their own design of mini aircrafts and fabricating them as per their design. This workshop takes the participants through a series of interactive lectures and design sessions supplemented by practical sessions, thereby providing a complete learning experience.</p>
                                        <h3>Workshop Specialties</h3>
                                        <ol style="list-style: inside decimal;">
                                            <li>No pre-designed kits are given to participants. Participants design their own aircrafts (using hand calculation and software) under the guidance of our professionals which are later fabricated by them.</li>
                                            <li>The workshop is organized personally by IIT Kanpur Aerospace Engineering Graduates</li>
                                        </ol>
                                        <p><br>
                                        <h2>Course Details</h2><br>
                                        <h3>Workshop Structure:</h3><br>
                                        The workshop is divided into 4 modules:
                                        <ol style="list-style: inside decimal;">
                                            <li>Understanding Flight</li>
                                            <li>Design of Aircraft</li>
                                            <li>Fabrication of Aircraft</li>
                                            <li>Flying using Remote Control</li>
                                        </ol>
                                        There will be a competition at the end of the workshop in which the completed models will compete to win a surprise prize!
                                        <br><br><h3>Kit Contents:</h3>
                                        <br><h4>Hardware</h4>
                                        <ol style="list-style: inside decimal;">
                                            <li>Engine/ Electric Motor *</li>
                                            <li>Electric Motor Controller *</li>
                                            <li>Propeller *</li>
                                            <li>Transmitter *</li>
                                            <li>Receiver *</li>
                                            <li>Li-Po battery *</li>
                                            <li>Servo motors (3 pieces) *</li>
                                            <li>Landing Gear (main and tail dragger)</li>
                                            <li>Wheels (2 pieces)</li>
                                            <li>Coroplast</li>
                                            <li>Styrofoam</li>
                                            <li>Control Rods</li>
                                            <li>Epoxy Glue</li>
                                            <li>Wing Holders</li>
                                            <li>Working Tools</li>
                                            <li>Other miscellaneous items</li>
                                        </ol>
                                        <p>The parts marked * are not part of standard kit. These components would be provided during the workshop but would be taken back after the workshop. This is being done to reduce the cost of the workshop and make it affordable for students who do not want to buy the complete kit.<br>
                                        Complete kit consists of all the above items excluding transmitter and receiver</p>
                                        <br><h4>Software</h4>
                                        Software used to design and test RC planes
                                        <ol style="list-style: inside decimal;">
                                            <li>RC Simulator</li>
                                            <li>RC Flying Tutorials and videos</li>
                                        </ol>
                                        <br>Other Material
                                        <ol style="list-style: inside decimal;">
                                            <li>Booklet on Aircraft Maintenance</li>
                                            <li>Booklet on aerobatic maneuvers</li>
                                        </ol>
                                        <p>
                                        <br>Workshop Details<br>
                                        Duration:  2 days (8 hours on each day)<br>
                                        Date:  7th and 8th of Jan 2012<br>
                                        Organizers: AerotriX<br>
                                        Cost: Rs 7500/- per team for the standard kit and Rs 12500/- for the complete kit.<br>
                                        Participants can register in team containing maximum of 5 members<br>
                                        Visit www.aerotrix.com for further details<br>
                                        Write to us at info@aerotrix.com for further queries or information<br>
                                        Follow us at www.facebook.com/aerotrix<br>
                                        </p><br>
                                        <iframe style="width: 60%;height: 1250px;" src="https://docs.google.com/spreadsheet/viewform?formkey=dFB4SFlzSWhUQjI3Yk1UZ2kwN3hFdnc6MQ"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End demo -->
                </div>
            </div>

	        <div id="c4" class="content-box">
	            <div class="inner">
                    <div class="demo">
                        <div id="tabs"> 
                            <ul>
                                <li><a href="#tabs-1">GENERAL NOTIFICATIONS</a></li>
                                <li><a href="#tabs-2">MY PAGE</a></li>
                            </ul>
                            <div id="tabs-1">
                                {% block notificationcontent %}
                                        {% if general_notifs %}
                                            <ol>
                                                {% for g_notif in general_notifs %}
                                                    <li style="font-size:0.9em;">  {{ g_notif.title }} : {{ g_notif.body|safe }} </li>
                                                {% endfor %}
                                            </ol>
                                        {% else %}
                                            No new notifications!!
                                        {% endif %}
                                {% endblock %} 
                            </div>
                            <div id="tabs-2">  
                                 {% if user.is_authenticated %}
                                    <p>Welcome, {{ user.username }}. </p>
                                    {% else %}
                                    <p>Welcome Guest!, You must be logged in to view this page. </p>
                                {% endif %}                    
                            </div>                   
                        </div>
                    </div><!-- End demo -->
                </div> <!--End inner -->
            </div>
                
            <div id="c5" class="content-box"> <!-- 5rd panel : Regsitration Form Panel -->
		        <div class="inner">
                    <div class="demo">
                    
                        <div id="tabs">
                            <ul>
                                <li><a href="#tabs-1">REGISTRATION</a></li>
                            </ul>
                            <div id="tabs-1">
                                <div>
                                {% block formcontent %}
                                    {% if not registration_successful %}
                                      <form action="." method="post">
                                        {% csrf_token %}
                                        {% for field in form %}
                                            <div class="fieldWrapper">
                                            {{ field.label_tag }}: {{ field }} {{ field.errors }}
                                            </div>
                                        {% endfor %}
                                        <input type="submit" value="Submit" />                                       
                                        </form>
                                    {% else %}
                                        CONGRATULATIONS! YOU HAVE BEEN REGISTERED FOR TECHNEX 2012
                                    {% endif %}
                                {% endblock %}
                            </div>                      
                            </div>
                        </div>
                    </div><!-- End demo -->
                </div>
            </div>
                
            <div id="c6" class="content-box">
                <div class="inner">
                    <div class="demo">
                        <div id="tabs">
                            <ul>
                                <li><a href="#tabs-1">CONTACTS</a></li>
                                <li><a href="#tabs-2">HOSPITALITY</a></li>
                            </ul>
                            <div id="tabs-1">
                                <div style="overflow:hidden;">
                                    <div style="overflow:auto;height:400px;width:105%;">
                                        <div style="font-weight:bold;font-size:0.9em;margin-bottom:10px;">
                                            Contact us: technex@itbhu.ac.in, admin@technex.in
                                        </div>
                                        <div id="gymadmin">
                                            <table style="width:100%;font-size:0.9em;">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Prof. K. P. Singh
                                                            <br>Patron
                                                            <br>IT - BHU
                                                        </td>
                                                        <td>
                                                            Prof. R.K. Mandal
                                                            <br>President
                                                            <br>IT - Gymkhana
                                                        </td>
                                                        <td>
                                                            Mr. Satish Kanaujia
                                                            <br>Administrative Officer
                                                            <br>IT - Gymkhana
                                                        </td>
                                                        <td style="padding-bottom:20px;">
                                                            Prof. Devender Singh
                                                            <br>Chairman
                                                            <br>Co-Curricular Activities Wing
                                                            <br>IT - Gymkhana
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-bottom:20px;">
                                                            Bhanu Singh Chauhan
                                                            <br>General Secretary
                                                            <br>Co-Curricular Activities Wing
                                                            <br>IT - Gymkhana
                                                            <br>+91-9473868157
                                                        </td>
                                                        <td>
                                                            Nakul Manocha
                                                            <br>Joint General Secretary
                                                            <br>Co-Curricular Activities Wing
                                                            <br>IT - Gymkhana
                                                            <br>+91-9005099509
                                                        </td>
                                                        <td>
                                                            Keshav Dev Gupta
                                                            <br>Student Convener
                                                            <br>+91-9889532192
                                                        </td>
                                                        <td>
                                                            Mohit Pundir
                                                            <br>Student Co-Convener
                                                            <br>+91-9005768009
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div style="font-size:medium;margin-top:10px;">
                                            <span style="font-weight:bold;text-decoration:underline;" onclick="$(this).next().slideToggle();">Senior Mentor<br></span>
                                            <div style="display:none;margin-top:10px;">
                                                <ul>
                                                    <li style="font-size:0.9em;">
                                                        Ritesh Harjani
                                                        <br>+91-7668823329
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div style="font-size:medium;margin-top:10px;">
                                            <span style="font-weight:bold;text-decoration:underline;" onclick="$('#gymadmin').slideToggle();$(this).next().slideToggle();">Technical Team<br></span>
                                            <div style="display:none;margin-top:10px;">
                                                <ul>
                                                    <li style="font-size:0.9em;">
                                                        Shivam Agarwal
                                                        <br>+91-9559671531
                                                    </li>
                                                    <li style="font-size:0.9em;">
                                                        Bidyut Hota
                                                        <br>+91-9889251768
                                                    </li>
                                                    <li style="font-size:0.9em;">
                                                        Pallan Madhavan
                                                        <br>+91-9956084231
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div style="font-size:medium;margin-top:10px;">
                                            <span style="font-weight:bold;text-decoration:underline;" onclick="$(this).next().slideToggle();">Management Events<br></span>
                                            <div style="display:none;margin-top:10px;">
                                                <ul>
                                                    <li style="font-size:0.9em;">
                                                        Aniruddha Jhawar
                                                        <br>+91-9369803525
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div style="font-size:medium;margin-top:10px;">
                                            <span style="font-weight:bold;text-decoration:underline;" onclick="$(this).next().slideToggle();">Marketing Team<br></span>
                                            <div style="display:none;margin-top:10px;">
                                                <ul>
                                                    <li style="font-size:0.9em;">
                                                        Sitanshu Gupta
                                                        <br>+91-9005729154
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div style="font-size:medium;margin-top:10px;">
                                            <span style="font-weight:bold;text-decoration:underline;" onclick="$(this).next().slideToggle();">Publicity Team<br></span>
                                            <div style="display:none;margin-top:10px;">
                                                <ul>
                                                    <li style="font-size:0.9em;">
                                                        Mayank Shandilya
                                                        <br>+91-9935646331
                                                    </li>
                                                    <li style="font-size:0.9em;">
                                                        Paaras Saxena
                                                        <br>+91-9936527265
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div style="font-size:medium;margin-top:10px;">
                                            <span style="font-weight:bold;text-decoration:underline;" onclick="$(this).next().slideToggle();">Creative &amp; Web Designing Team<br></span>
                                            <div style="display:none;margin-top:10px;">
                                                <ul>
                                                    <li style="font-size:0.9em;">
                                                        Jaiditya Mathur
                                                        <br>+91-9559783696
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tabs-2">
                                <p>Details to be uploaded very soon. Keep an eye out for this space.</p>
                            </div>
                        </div>
                    </div><!-- End demo -->
                </div>
            </div>
            
            <div id="c7" class="content-box"> <!-- c7 is the 7th panel -->
                <div class="inner">
                    <div class="demo">
                        <div id="tabs">
                            <ul>
                                <li><a href="#tabs-1">SPONSORS</a></li>             
                            </ul>
                                
                            <div id="tabs-1">
                                Previous sponsors:<br>
                                <img onmousedown="return false;" src="{{ STATIC_URL }}pics/sponsors/sponsors.png">
                            </div>                                
                        </div>
                    </div><!-- End demo -->             
				</div>
            </div>
				
        </div><!-- div id="fake" -->
    </div><!-- div id="wrapper" -->
        
{% endblock %}
